<div class="forms">
  <br>
  <% if flash[:notice] %>
    <div class="notice"><h3><font color='red'><%= flash[:notice] %></font></h3></div>
  <% end %>
  <br><br>

  <div id="wrapper">
    <%= form_tag verify_path, :id => 'form', class: "login-form" do %>
  		<div class="header">
  		   <h1>Sign In</h1>
  		</div>

  		<div class="content">
        <%= text_field_tag :email, "", class: "input username", placeholder: "Email" %>
  		<div class="user-icon"></div>
        <%= password_field_tag :password, "", class: "input password", placeholder: "Password" %>
  		<div class="pass-icon"></div>
  		</div>

  		<div class="footer">
        <%= submit_tag "Sign In", class: "button" %>
  		</div>
      <p>If you don't have a login, <%= link_to "Register", sign_up_path%></p>
    <% end %>
  </div>
  <div class="gradient"></div>
</div>
